<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JUNIPER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/demo.css" />
    <script src="/static/lib/jQuery.min.js"></script>
    <script
      type="text/javascript"
      src="/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js"
    ></script>
    <style>
      .footer {
        position: relative;
        bottom: 0;
        padding: 1rem;
        width: 100%;
      }
    </style>
  </head>
  <body>
    {% include "navbar.htm" %}
    <br />
    <div class="container is-max-desktop">
      <div class="notification has-background-primary-light">
        Welcome to Juniper! Provide your input below.
      </div>
    </div>
    <br />
    <div class="columns is-vcentered">
      <div class="column is-1"></div>
      <div class="column is-5">
        <form
          class="form-row"
          action="{{ url_for('renderOutput') }}"
          method="POST"
        >
          <div class="field">
            <label class="label">User Input</label>
            <div class="form-control">
              <textarea
                class="textarea"
                placeholder="Textarea"
                rows="10"
                id="userinput"
                name="userinput"
              >
{{input}}</textarea
              >
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="control column is-2">
              <button class="button is-success" type="submit">
                Synthesize
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-5">
        <div class="field">
          <label class="label">Synthesized Output</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Textarea"
                rows="10"
                name="useroutput"
                id="useroutput"
                readonly
              >
            {{output}}</textarea
              >
            </div>
        </div>
        <div class="columns is-vcentered">
          <div id="modal-js-example" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Edit</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <p>Instructions</p>
                <br/>
                <form
            class="form-row"
            action="{{ url_for('renderOutput') }}"
            method="POST"
            id="editf"
          >
                <textarea
                  class="textarea"
                  rows="10"
                  name="edittext"
                  id="edittext"
                ></textarea>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
              </form>
                <button class="button">Cancel</button>
              </footer>
            </div>
          </div>
          <div class="control column is-2">
            <button
              class="js-modal-trigger button is-success"
              data-target="modal-js-example"
            >
              Edit
            </button>
          </div>
          <div class="control column is-2" id="editform"></div>
        </div>
      </div>
    </div>
    <br />
    <div class="container is-max-desktop">
      <div class="notification has-background-warning-light">
        Disclaimer:
        <ul style="padding-left: 20px; list-style-type: disc">
          <li>
            Gender is estimated from the patient name using genderize.io, which
            has an accuracy of 92.5%.
          </li>
          <li>
            Race is estimated from the patient name based on open source voter
            registration data from six southern US states, which has an accuracy
            of XX.
          </li>
          <li>
            These estimates are made for improved diagnosis when the patient
            name is removed for privacy.
          </li>
          <li>
            The gender and race estimates may be incorrect depending on the
            prompt used. In the next version: Please help edit or remove this
            information if it is incorrect or if it would rather be omitted.
          </li>
        </ul>
      </div>
    </div>
    <br />
    <br />
    <form
      class="form-row"
      action="{{ url_for('renderOutput',output=user_output) }}"
      method="POST"
    >
      <div class="container is-max-desktop">
        <div class="notification has-background-primary-light">
          Click on the Diagnose button to get the OpenAi
          diagnosis.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
            class="button is-success"
            type="submit"
          >
            Diagnose
          </button>
        </div>
      </div>
      <br />
      <div class="columns is-vcentered">
        <div class="column is-1"></div>
        <div class="column is-10">
          <div class="field">
            <label class="label">OpenAI Diagnosis</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Textarea"
                rows="10"
                id="diagnosis"
                readonly
              >
{{diagnosis}}</textarea
              >
            </div>
          </div>
        </div>
      </div>
    </form>
    <br />
    <script>
      /*function edit() {
        document.getElementById("useroutput").removeAttribute("readonly");
        var s = document.createElement("input");
        s.setAttribute("class", "button is-success");
        s.setAttribute("type", "submit");
        s.setAttribute("value", "Done");
        document.getElementById("editf").appendChild(s);
        var value = document.getElementById("useroutput").value;
        document.getElementById("edittext").innerHTML = value;
      }*/
      document.addEventListener("DOMContentLoaded", () => {
        // Functions to open and close a modal
        function openModal($el) {
          $el.classList.add("is-active");
        }

        function closeModal($el) {
          $el.classList.remove("is-active");
        }

        function closeAllModals() {
          (document.querySelectorAll(".modal") || []).forEach(($modal) => {
            closeModal($modal);
          });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll(".js-modal-trigger") || []).forEach(
          ($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener("click", () => {
              openModal($target);
              var value = document.getElementById("useroutput").value;
              document.getElementById("edittext").innerHTML = value;
            });
          }
        );

        // Add a click event on various child elements to close the parent modal
        (
          document.querySelectorAll(
            ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
          ) || []
        ).forEach(($close) => {
          const $target = $close.closest(".modal");

          $close.addEventListener("click", () => {
            closeModal($target);
          });
        });

        // Add a keyboard event to close all modals
        document.addEventListener("keydown", (event) => {
          if (event.key === "Escape") {
            closeAllModals();
          }
        });
      });
    </script>
    {% include "footer.htm" %}
  </body>
</html>
